/*!
 * Copyright 2023 Organic <https://github.com/organization>
 */
lyrs-wrapper {
   padding-bottom: 10px;
   padding-right: 10px;
 }
 
 lyrs-lyrics-item {
   background: transparent;
   text-shadow: 2px 2px 10px black;
   filter: none;
 }
 
 lyrs-transition-lyric-enter-active,
 lyrs-transition-lyric-exit-active {
   transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
   transform-origin: center;
 }
 
 lyrs-transition-lyric-move {
   transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
   transform-origin: center;
 }
 
 lyrs-transition-lyric-enter,
 lyrs-transition-lyric-exit-to {
   opacity: 0;
 }
 
 lyrs-nowplaying {
   background: rgba(0, 0, 0, .4);
   border-radius: 30px;
   display: flex;
   flex-direction: column;
   padding: 15px 20px;
   padding-bottom: 10px;
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
 }
 
 lyrs-nowplaying-cover {
   margin: 0 10px;
   width: 40px;
   height: 40px;
 }
lyrs-nowplaying-playing-text {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
 }
 
 lyrs-nowplaying-title {
   font-size: 1.2rem;
 }
 
 lyrs-nowplaying-artist {
   opacity: 0.3;
   order: 2;
   margin-top: -7px;
   font-size: 0.9rem;
 }
 
 lyrs-nowplaying-divider {
   display: none;
 }
 
 lyrs-marquee:not(lyrs-marquee--disabled) {
   &::after {
     content: '';
     position: absolute;
     inset: 0;
     background: linear-gradient(
       to right,
       black 0%, transparent 5%, transparent 95%, black 100%
     );
   }
 }
 
 lyrs-nowplaying-progress-bar {
   position: relative;
   display: flex;
   align-items: center;
   margin-top: 15px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 25px;
   min-width: 200px;
   order: 2;
 
   &::before, &::after {
     font-size: 0.8rem;
     opacity: 0.3;
   }
   
   &::before {
     position: absolute;
     right: 0;
     bottom: 0;
     content: var(--nowplaying-duration);
     padding-right: 5px;
   }
 
   &::after {
     position: absolute;
     bottom: 0;
     content: var(--nowplaying-progress);
   }
 }
 
 lyrs-nowplaying-progress {
   position: relative;
   background: rgba(255, 255, 255, .3);
   border-radius: 3px;
   height: 4px;
   
   transform: none;
   flex: 1;
 
   &::before {
     content: '';
     position: absolute;
     inset: 0;
     width: 100%;
     background: white;
     transform: scaleX(var(--nowplaying-percent));
     transform-origin: left;
   }
 }
