@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset */
html, body, #app {
  padding: 0;
  margin: 0;

  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

/* utils */
.fluent-scrollbar {
  overflow: auto;
}
.fluent-scrollbar::-webkit-scrollbar {
  @apply w-[4px] h-[4px] p-[1px];
}
.fluent-scrollbar::-webkit-scrollbar-thumb {
  @apply w-[2px] h-[2px] bg-gray-400 rounded-full border border-transparent border-solid bg-clip-padding;
}

.marquee {
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* animations */

.lyric-enter-active {
  transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  transform-origin: 100% 50%;
}
.lyric-exit-active {
  transition: all 0.3s cubic-bezier(0.5, 0, 0.75, 0);
  transform-origin: 100% 50%;
}
.lyric-move {
  transition: all 0.625s ease-in-out;
  transform-origin: 100% 50%;
}

.lyric-enter {
  transform: translateY(200%) scale(0.9);
  opacity: 0;
  filter: blur(4px);
}

.lyric-exit-active {
  position: fixed;
}

.lyric-exit-to {
  transform: translateY(-200%) scale(0.9);
  opacity: 0;
  filter: blur(4px);
}
