@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-icon {
    @apply !px-2;
  }

  .btn-primary {
    @apply min-w-[130px] px-3 py-2 rounded text-black
    bg-primary-500 hover:bg-primary-600 active:opacity-50
      outline-none select-none cursor-pointer
      focus:outline-none;
  }

  .btn-text {
    @apply min-w-[130px] px-3 py-2 rounded text-white
    bg-white/[7.5%] hover:bg-white/10 active:bg-white/5
      outline-none select-none cursor-pointer
      focus:outline-none;
  }

  .btn-disabled {
    @apply px-3 py-2 bg-gray-400 text-gray-100 dark:bg-gray-600 dark:text-gray-900 font-semibold rounded-lg
      outline-none select-none;
  }

  .input {
    @apply bg-gray-100/5 text-white rounded-[4px] hover:bg-gray-100/10 focus:bg-black/10
    border-[1px] border-gray-100/[2%] border-b-gray-100/20 focus:border-b-2 focus:border-b-primary-500 focus:border-gray-100/10
    outline-none py-1 px-3 mb-[1px] focus:mb-[0px]
  }

  .input.color {
    @apply px-0 py-0 w-8 aspect-square text-center;
  }
  .input.color::-webkit-color-swatch {
    @apply max-w-[16px] max-h-[16px] rounded-full border-none mx-auto;
    opacity: var(--opacity, 1);
  }

  .select.solid-select-container {
    @apply !border-0;
  }
  .select .solid-select-control {
    @apply bg-gray-100/5 text-white rounded-[4px] hover:bg-gray-100/10 focus:bg-black/10
    border-[1px] border-gray-100/[2%] border-b-gray-100/20
    !outline-none py-1 px-3 mb-[1px];
  }
  .select .solid-select-control:has(~ .solid-select-list) {
    @apply border-b-primary-500 border-gray-100/10 mb-[0px] border-b-2;
  }
  .select .solid-select-list {
    @apply bg-gray-900 shadow-md rounded-[4px] p-1 fluent-scrollbar max-w-full;
  }
  .select .solid-select-placeholder {
    @apply text-white/30;
  }
  .select .solid-select-option {
    @apply truncate;
  }
  .select .solid-select-option:hover {
    @apply bg-white/10 rounded;
  }
  .select .solid-select-option[data-focused=true] {
    @apply bg-primary-500/30 rounded;
  }

  .spinner-shape {
    fill: none;
    stroke-width: var(--stroke-width);
    stroke-linecap: round;
    stroke-dasharray: var(--dash-length);
    stroke-dashoffset: var(--dash-length);

    animation: spinner-shape 1.4s infinite;

    transform-origin: center center;
  }

  @keyframes spinner-shape {
    0% {
      stroke-dashoffset: var(--dash-length);
      rotate: 0deg;
    }
    50% {
      stroke-dashoffset: 10;
      rotate: 45deg;
    }
    100% {
      stroke-dashoffset: var(--dash-length);
      rotate: 360deg;
    }
  }
}

/* reset */
html, body, #app {
  padding: 0;
  margin: 0;

  width: 100%;
  height: 100%;
}

:where(*) {
  font-size: 14px;
  box-sizing: border-box;
}

/* utils */
.fluent-scrollbar {
  overflow: auto;
}
.fluent-scrollbar::-webkit-scrollbar {
  @apply w-[4px] h-[4px] p-[1px];
}
.fluent-scrollbar::-webkit-scrollbar-thumb {
  @apply w-[2px] h-[2px] bg-gray-400 rounded-full border border-transparent border-solid bg-clip-padding;
}

.remove-scrollbar::-webkit-scrollbar {
  @apply hidden;
}
.remove-scrollbar::-webkit-scrollbar-thumb {
  @apply hidden;
}

.marquee {
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* animations */
.tab-enter-active {
  transition: all 0.225s cubic-bezier(0.16, 1, 0.3, 1);
}
.tab-exit-active {
  transition: all 0.225s cubic-bezier(0.5, 0, 0.75, 0);
}

.tab-enter {
  transform: translateY(128px);
  opacity: 0;
}

.tab-exit-to {
  opacity: 0;
}

.card-enter-active {
  transition: all 0.225s cubic-bezier(0.16, 1, 0.3, 1);
}
.card-exit-active {
  transition: all 0.225s cubic-bezier(0.5, 0, 0.75, 0);
}

.card-enter {
  transform: translateY(-32px);
  opacity: 0;
}

.card-exit-to {
  opacity: 0;
}
