@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-icon {
    @apply !px-2;
  }

  .btn-primary {
    @apply min-w-[130px] px-3 py-2 rounded text-black
    bg-primary-500 hover:bg-primary-600 active:opacity-50
      outline-none select-none cursor-pointer
      focus:outline-none;
  }

  .btn-primary-disabled {
    @apply min-w-[130px] px-3 py-2 rounded text-black
    bg-primary-600
    outline-none select-none cursor-pointer
    focus:outline-none;
  }

  .btn-error {
    @apply min-w-[130px] px-3 py-2 rounded text-black
    bg-red-500 hover:bg-red-600 active:opacity-50
      outline-none select-none cursor-pointer
      focus:outline-none;
  }

  .btn-text {
    @apply min-w-[130px] px-3 py-2 rounded text-white
    bg-white/[7.5%] hover:bg-white/10 active:bg-white/5
      outline-none select-none cursor-pointer
      focus:outline-none;
  }

  .btn-disabled {
    @apply px-3 py-2 bg-gray-400 text-gray-100 dark:bg-gray-600 dark:text-gray-900 font-semibold rounded-lg
      outline-none select-none;
  }

  .checkbox {
    @apply appearance-none w-[20px] h-[20px] bg-gray-100/5 rounded-[4px] hover:bg-gray-100/10 focus:bg-black/10
    border-[1px] border-gray-100/20
  }

  .checkbox:checked {
    @apply shadow-[inset_0_0_0_3px] shadow-primary-600
  }

  .input {
    @apply bg-gray-100/5 text-white rounded-[4px] hover:bg-gray-100/10 focus:bg-black/10
    border-[1px] border-gray-100/[2%] border-b-gray-100/20 focus:border-b-2 focus:border-b-primary-500 focus:border-gray-100/10
    outline-none py-1 px-3 mb-[1px] focus:mb-[0px]
  }

  .input.color {
    @apply px-0 py-0 w-8 aspect-square text-center;
  }
  .input.color::-webkit-color-swatch {
    @apply max-w-[16px] max-h-[16px] rounded-full border-none mx-auto;
    opacity: var(--opacity, 1);
  }

  .select-container {
    @apply w-fit flex justify-start items-center
    bg-white/[7.5%] hover:bg-white/10 active:bg-white/5
    py-2 px-4 rounded-[4px];
  }
  .select {
    @apply outline-none bg-transparent w-fit;
  }

  .spinner-shape {
    fill: none;
    stroke-width: var(--stroke-width);
    stroke-linecap: round;
    stroke-dasharray: var(--dash-length);
    stroke-dashoffset: var(--dash-length);

    animation: spinner-shape 1.4s infinite;

    transform-origin: center center;
  }

  @keyframes spinner-shape {
    0% {
      stroke-dashoffset: var(--dash-length);
      rotate: 0deg;
    }
    50% {
      stroke-dashoffset: 10;
      rotate: 45deg;
    }
    100% {
      stroke-dashoffset: var(--dash-length);
      rotate: 360deg;
    }
  }
}

/* reset */
html, body, #app {
  padding: 0;
  margin: 0;

  width: 100%;
  height: 100%;
}

:where(*) {
  font-size: 14px;
  box-sizing: border-box;
}

/* utils */
.fluent-scrollbar {
  overflow: auto;
}
.fluent-scrollbar::-webkit-scrollbar {
  @apply w-[10px] h-[10px];
}
.fluent-scrollbar::-webkit-scrollbar-thumb {
  @apply w-[10px] h-[10px] bg-gray-400 rounded-full border-[4px] border-transparent border-solid bg-clip-padding;
}
.fluent-scrollbar::-webkit-scrollbar-corner {
  @apply hidden;
}

.remove-scrollbar::-webkit-scrollbar {
  @apply hidden;
}
.remove-scrollbar::-webkit-scrollbar-thumb {
  @apply hidden;
}
.remove-scrollbar::-webkit-scrollbar-corner {
  @apply hidden;
}

.marquee {
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* animations */
.tab-enter-active {
  transition: all 0.225s cubic-bezier(0.16, 1, 0.3, 1);
}
.tab-exit-active {
  transition: all 0.225s cubic-bezier(0.5, 0, 0.75, 0);
}

.tab-enter {
  transform: translateY(128px);
  opacity: 0;
}

.tab-exit-to {
  opacity: 0;
}

.card-enter-active {
  transition: all 0.225s cubic-bezier(0.16, 1, 0.3, 1);
}
.card-exit-active {
  transition: all 0.225s cubic-bezier(0.5, 0, 0.75, 0);
}

.card-enter {
  transform: translateY(-32px);
  opacity: 0;
}

.card-exit-to {
  opacity: 0;
}

.selector-enter-active {
  transform-origin: 0% var(--percent, 0%);
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
.selector-exit-active {
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

.selector-enter {
  transform: scaleY(0.1);
  transform-origin: 0% var(--percent, 0%);
  opacity: 0;
}

.selector-exit-to {
  opacity: 0;
}

.modal-enter-active {
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
.modal-exit-active {
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

.modal-enter {
  transform: scale(1.1);
  opacity: 0;
}
.modal-exit-to {
  transform: scale(0.9);
  opacity: 0;
}
